@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root{
    --color-primary: #471357;
    --color-secondary: #3f0e82;
    --color-tertiary: #ffdd00;
    --color-text-primary: #ffffff;
    --color-text-secondary: #000000;
    --color-light-grey: #c7c7c7;
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
    color: var(--color-text-primary);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: 500;
}
body,
.heading,
.catalogue{
    padding: 2rem;
}
.heading{
    text-align: center;
    font-size: 3rem;
}
.search,
.search__input,
.search__btn,
.imageCard,
footer,
footer p{
    padding: 1rem;
}
.search{
    width: 60%;
    margin: 1rem auto;
    text-align: center;
}
.search__input{
    width: 60%;
    height: 4rem;
    margin: 1rem 0;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: var(--color-text-primary);
}
.search__input::placeholder{
    color: var(--color-light-grey);
}
.search__input:focus-visible,
.search__input:focus{
    outline: 1px solid var(--color-tertiary);
}
.search__btn{
    border: none;
    margin: 0 1rem;
    cursor: pointer;
    background: var(--color-tertiary);
    transition: all .2s ease-in-out;
}
.search__btn:active{
    background: rgba(255, 255, 255, 0.1);
    transform: translateY(3px);
}
.search__svg{
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    fill: var(--color-text-secondary);
}
.search__input,
.search__btn,
.imageCard,
.catalogue{
    border-radius: .5rem;
}
.catalogue{
    background: rgba(255, 255, 255, 0.1);
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.imageCard{
    background: linear-gradient(to bottom, var(--color-primary), var(--color-secondary));
    min-width: 25rem;
    width: 30rem;
    height: 100%;
    cursor: pointer;
    margin: 1rem;
}
.imageCard img{
    display: block;
    max-width: 100%;
    height: auto;
}
.imageCard img:hover{
    transform: scale(1.5);
    transition: all .1s ease-in-out;
}
footer{
    font-size: 1.4rem;
    text-align: center;
    color: var(--color-light-grey);
}
footer p span{
    color: red;
}
footer p a{
    color: var(--color-tertiary);
}
@media screen and (max-width: 31.5em){
    html{
        font-size: 50%;
    }
    .search{
        width: 90%;
    }
    .catalogue{
        justify-content: center;
    }
}
